.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-container h1 {
  font-size: 4rem;
  background-color: #222;
}

.title-container,
.contato-container {
  background-color: #222;
  width: 100%;
}
.description-container {
  margin: 1rem;
  border-bottom: 1px solid var(--primary-color);
  padding-bottom: 2rem;
  width: 75%;
}

.description-container div {
  font-style: italic;
  font-weight: 200;
  opacity: 60%;
  width: 80%;
  font-size: 1.5rem;
}

.description-container > img {
  border-radius: 1rem;
}

.description-container > p {
  width: 40%;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.features-container {
  margin: 2rem;
  width: 100%;
}

.contato-container {
  flex-direction: column;
  width: 100%;
}

.title-container,
.description-container,
.features-container,
.contato-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contato-container span {
  font-size: 2.5rem;
  background-color: #222;
}

.contato-container {
  padding-top: 1rem;
}

.contato-container input {
  border: none;
  border-radius: 2rem;
  padding: 0.75rem;
  margin: 0.5rem;
  text-align: center;
  color: #ebeaea;
}

.contato-container button:last-child {
  background-color: #07bc0c;
  border: none;
  border-radius: 2rem;
  color: #ebeaea;
  font-weight: 700;
}

.shape-divider {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1691025636 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
}

.shape-divider .shape-fill {
  fill: var(--primary-color);
}